*{
box-sizing: border-box;
margin: 0;
padding: 0%;
text-decoration: none;
}

#site_principal{
    display: grid;
    grid-template-areas: 
    'cc cc cc '
    'nn nn nn'
    'mm mm mm'
    'mm mm mm'
    'ff ff ff';


}

.cabesalho{
    grid-area: cc;
    background: rgb(145,34,195);
    background: linear-gradient(0deg, rgba(145,34,195,1) 0%, rgba(67,0,156,1) 100%);

}

.navegador{
    grid-area: nn;
    

}

.corpo{
    grid-area: mm;
    
    height: 70vh;
}

.rodapé{
   grid-area: ff;
 

}
header{
    /* comfiguracoes do header  */
    display: flex;
    align-items: center;
   
    text-align: center;
    
}
.icon{


height: 30px;
width: 30px;
}
.logo{
    height: 60px;
    
}

.busca{
    background: url(imagens/lupabranca.png)  no-repeat center left;
    padding: 5px;
    height: 30px;
    background-size: 20px;
    width: 30px;
    transition: all 0.5s linear;
    -webkit-transition:all 0.5s linear ;
    border: none;
    
    
  
}
.busca:focus:-ms-input-placeholder {  
    color: transparent;  
 }
.busca:focus{

    background-color: white;
   width: 500px;
   height: 50px;
   outline:none;
   border-bottom: solid 1px #1b169f;
}

.navegador ul{
    display: flex;
    justify-content: center;
    text-align: center;
    
    list-style: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);

}
.links img{
        height: 50px;
        width: 50px;
        background-color: rgb(255, 254, 252);
        border-radius: 50%;
        margin: 30px;
        box-shadow: 3px 3px 3px #444444;
      
}

.links a{

    color: black
}

main img{
    box-sizing: border-box;
    height: 200px;
    width: 250px;
}

main section{ 
    display: flex;
      justify-content: space-around; 
  }

section{ 
  display: flex;
    justify-content: space-around; 
}
.filho{
    display:flexbox;
    background-color: rgb(236, 248, 253);
    width: 300px;
    height: 360px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px gray;
    margin-top: 5%;
    flex-wrap: wrap;
    
}

.filho div {
    display: flex;
    flex-direction: column;
}

.filho button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fdfeff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #444444;
}
.titulomain {
    margin-top: 4%;
    font-size: 200%;
    font-weight: bolder;
    margin-right: 200px;
}
.filho button:hover {
    background-color: #444444;
    color: azure;
}

