* {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------GRID------------------------------------------*/

#login header {
    grid-area: cab;
}
#login main {
    grid-area: pri;
}
#login footer {
    grid-area: rod;
}

#login body {
    display: grid;
    grid-template-areas: 
    "cab"
    "pri"
    "rod";
    grid-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

/*------------------------------------------GRID------------------------------------------*/

/*-----------------------------------------HEADER-----------------------------------------*/

#login header {
    background: linear-gradient(0deg, rgba(145,34,195,1) 0%, rgba(67,0,156,1) 100%);
    height: 120px;
    text-align: center;
}

#login header img {
    height: 125px;
}

/*-----------------------------------------HEADER-----------------------------------------*/

/*------------------------------------------BODY------------------------------------------*/

#login main {
    background-color: #171717;
    height: 100vh;
    position: relative;
}

#login .bloco {
    background-color: #2b2b2b;
    width: fit-content;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 40px;
}

#login .blocodois {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#login .blocodois h1 {
    font-size: 60px;
    font-weight: normal;
    font-family: 'Gabriel Serif', sans-serif;
    margin-bottom: 30px;
}
#login .blocodois a {
    color: white;
    text-decoration: none;
}
#login .blocodois .esqueceu {
    margin-bottom: 6px;
}
#login .blocodois .cadastro {
    color: blueviolet;
}

#login .blocodois button {
    font-family: "Kay Pho Du", serif;
    font-size: 23px;
    padding: 15px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 15px;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

#login .textfield {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#login .textfield label {
    font-family: "Kay Pho Du", serif;
    font-size: 25px;
    margin-bottom: 10px;
}
#login .textfield input {
    box-sizing: border-box;
    padding: 15px;
    width: 350px;
    border-radius: 15px;
    border: none;
}

/*------------------------------------------BODY------------------------------------------*/

/*-----------------------------------------FOOTER-----------------------------------------*/

#login footer {
    background: linear-gradient(0deg, rgba(145,34,195,1) 0%, rgba(67,0,156,1) 100%);
    height: 170px;
    text-align: center;

    position: relative;
}

#login footer .pe {
    color: white;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#login footer .grande {
    font-size: 20px;
}

#login footer a {
    text-decoration: none;
    color: white;
}

/*-----------------------------------------FOOTER-----------------------------------------*/