/*css do formulário*/

/*fonte baixada pelo google fonts*/
@import url('https://fonts.googleapis.com/css2?family= Montserrat & display=swap') ;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* largura, altura, permissão para deixar os containers maleaveis, centralização e cor do fundo*/
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f966dd0;
}

/*--------------------------------------HEADER--------------------------------------*/

#login header {
    background: linear-gradient(0deg, rgba(195,34,178,1) 0%, rgba(146,45,253,1) 100%);
}

/*--------------------------------------HEADER--------------------------------------*/


/*tamanho, flexilizaçao, ordem em colunas, centralizaçao, cor do fundo e distancia do elemento e borda*/
.form {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5rem;
}

/*ediçao na parte do header: margem de baixo, flexilizaçao e espaçamento*/
.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

/*ediçao do botao de login: cor de fundo, espaçamento entre os elementos, tamanho d borda, e mudanla de cursor*/
.login-button button {
    border: none;
    background-color: #0b7242;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/*mudar a cor do botao quando o cursor passar por cima*/
.login-button button:hover {
    background-color: #1e3825f1;
}

/*ediçao do texto de dentro do botao*/
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #ffecec;
}

/*risquinho embaixo do "cadastre-se*/ 
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #0b7242;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/*customização as colunas de texto: flexibilazaçao, quebra, deixar espaço entre eles*/
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

/*deixar os label e input em colunas, margem*/
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

/*ediçao das caixas do input (preenchimento)*/
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #06a75c7a;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6df7ab;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000be;
}

.input-box input::placeholder {
    color: #0f2708be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .8rem;
    gap:3rem
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}


@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}

/*css da pag inicial/home */

.main{
    height: 600px;
    background-color: #baddcde1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filho img{
    width: 350px;
    height: 300px;
}

/*cor dentro do card, tamanho, borda e cor da sombra*/
.filho{
    background-color: #ffffffd0;
    width: 500;
    box-shadow: 4px 4px 4px 4px #014d2980;
    border-radius: 5px;
    align-items: center;
}

.filho div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.comprar{
    width: 120px;
 height: 40px;
 border-radius: 40px;
 cursor: pointer ;
 background-color: #62806af1;
 color: rgb(255, 255, 255);

}