* {
    margin: 0;
    padding: 0;
}

header {
    background-color: blueviolet;
    height: 120px;
    text-align: center;
}

main {
    background-color: #171717;
    height: 100vh;
    position: relative;
}

.bloco {
    background-color: #2b2b2b;
    width: fit-content;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 40px;
}

.blocodois {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blocodois h1 {
    font-size: 60px;
    font-weight: normal;
    font-family: 'Gabriel Serif', sans-serif;
    margin-bottom: 30px;
}
.blocodois a {
    color: white;
}
.blocodois button {
    font-family: "Kay Pho Du", serif;
    font-size: 23px;
    padding: 15px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 15px;
    border: none;
    background-color: blueviolet;
    color: white;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.textfield label {
    font-family: "Kay Pho Du", serif;
    font-size: 25px;
    margin-bottom: 10px;
}
.textfield input {
    box-sizing: border-box;
    padding: 15px;
    width: 350px;
    border-radius: 15px;
    border: none;
}



footer {
    background-color: blueviolet;
    height: 120px;
    text-align: center;
}