*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    font-family: Courier New;
    list-style: none;
    text-decoration: none;
}

header .cabesalho{
    background: rgb(195,34,178);
    background: linear-gradient(0deg, rgba(195,34,178,1) 0%, rgba(146,45,253,1) 100%);
    display: flex;
   min-height: 120px;
   align-items: center;
   
   


   
}
.cabesalho{
    display: block;
}
.logo{
    color: aliceblue;
    min-height: 60px;
}
.pequisa{
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

.barra{
     width: 900px;
     height: 50px;
}

.cart{
       color: white;
       height: 40px;
       width: 40px;

}

.lupa{
    color: rgb(0, 0, 65);
    height: 40px;
    width: 40px;
    background: linear-gradient(0deg, rgb(63, 34, 195) 0%, rgb(140, 0, 255) 100%);
    
}